@import "../main";

.button {
  background-color: blue;
  height: 4rem;
  width: 8rem;
  display: inline-block;
  margin: 1rem;
  p {
    color: #505253;
  }

  &.round {
    background-color: unset;
    height: 3.75rem;
    width: 3.75rem;
    border-radius: 50%;
    border: 0.4rem solid gold;

    &.disabled {
      border: 0.3rem solid $secondary;
      opacity: 0.5;
      p {
        opacity: 50%;
      }
    }
    &.filled {
      background-color: gold;
      p {
        color: #4c4f53;
      }
    }
    p {
      vertical-align: middle;
      margin: auto;
      text-align: center;
      line-height: 3.2rem;
      color: $secondary;
      font-size: 4rem;
    }
  }

  &.square {
    height: 4.5rem;
    width: 30rem;
    border-radius: 5rem;
    border: 0.3rem solid $secondary;
    margin-bottom: 2rem;

    p {
      vertical-align: middle;
      margin: auto;
      text-align: center;
      line-height: 4.5rem;
      color: #4b4f53;
      font-size: 1.4rem;
    }

    i {
      color: #4b4f53;
      font-weight: 900;
      margin: auto 12.5rem;
      vertical-align: middle;
      font-size: 2.5rem;
      line-height: 1.5rem;
      border-radius: 2rem;
      padding: 1.5rem;

      &.gold-check {
        color: $secondary;
      }
    }

    &.inactive {
      background-color: white;
      border: 0.3rem solid white;
      margin-top: 2rem;
      p {
        color: lightgrey;
      }
    }

    &.normal {
      background-color: $secondary;
    }

    &.hover {
      background-color: #f5d67c;
      border: 0.3rem solid #f5d67c;
      p {
        color: #717271;
      }
    }

    &.hoverLight {
      background-color: #8d7e53;
      p {
        color: $secondary;
      }
    }

    &.click {
      background-color: #bea04b;
      border: 0.3rem solid #bea04b;
    }

    &.dark {
      p {
        color: $secondary;
      }
    }
  }
  &.square {
    height: 4.5rem;
    width: 25rem;
    border-radius: 2rem;
    p {
      vertical-align: middle;
      margin: auto;
      text-align: center;
      font-size: 1.6rem;
      line-height: 1.5rem;
      text-transform: uppercase;
      border-radius: 2rem;
      font-family: Helvetica-light;
      padding: 1.5rem;
    }
    &.white {
      background-color: white;
      p {
        color: #bcbfc7;
      }
    }
    &.gold {
      background-color: gold;
    }
    &.goldlight {
      background-color: #f0d77c;
    }
    &.golddark {
      background-color: darkgoldenrod;
    }
    &.grey {
      background-color: #4c4f53;
      border: 0.3rem solid gold;
      p {
        color: gold;
      }
    }
    &.silver {
      background-color: #8c8155;
      border: 0.3rem solid gold;
      p {
        color: gold;
      }
    }
    i {
      color: #4c4f53;
      font-weight: 900;
      margin: auto 10rem;
      font-size: 2.5rem;
      line-height: 1.5rem;
      text-transform: uppercase;
      border-radius: 2rem;
      padding: 1.5rem;
      &.goldcheck {
        color: gold;
      }
    }
  }
}
